# Compiled object files
*.o
*.obj

# Compiled binary files
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
out/

# Qt Creator
*.pro.user
*.qmake.stash

# Visual Studio Code
.vscode/

# Other
*.log
*.tmp
*.swp
*~

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini